input[b-4tu4heqs2l]::-webkit-outer-spin-button,
input[b-4tu4heqs2l]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[b-4tu4heqs2l] {
    border-radius: 15px;
    border: 1px solid #aeaeae;
    padding-left: 8px;
}
    input:focus[b-4tu4heqs2l] {
        border-radius: 15px;
        border: 1px solid #aeaeae;
        outline-width: 0;
        padding-left:8px;
    }

.anim-border[b-4tu4heqs2l]:after {
    display: flex;
    content: '';
    border-bottom: solid 1px blue;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
    height: 2px;
}
.anim-font-size[b-4tu4heqs2l] {
    font-size: 1.4rem;
    transition: font-size 250ms ease;
}
.anim-font-size:hover[b-4tu4heqs2l]{
    font-size:1.6rem;
}

.anim-border:hover[b-4tu4heqs2l]:after {
    transform: scaleX(1);
}
