.del-btn:hover .del-icon{
    animation-name:rotate;
}
.del-icon{
    animation-duration:500ms;
}
@keyframes rotate{
    0%{transform: rotate(0deg)}
    100% {
        transform: rotate(90deg)
    }
}
.container-shadow {
    box-shadow: 0 0 20px -10px black;
}
.h-10vh {
    height: 10vh;
}
.border-bottom-lightgrey {
    border-bottom: 1px solid lightgrey;
}
.empty-cart-span {
    font-family: monospace;
    font-size: 25px;
    color: #bababa;
    user-select: none;
}
.border-top-lightgrey {
    border-top: 1px solid lightgrey;
}