@page "/"
@using OnlineShop.Components.HomePage

<div class="w-80 m-auto h-100">
    <div class="d-flex flex-column h-100">
        <div class="row ml-0 mr-0 mt-4 justify-content-center">
            <SliderComponent/>
        </div>
        <div class="row ml-0 mr-0 mt-3 justify-content-center">
            <RecommendedComponent/>
        </div>
        <div class="row ml-0 mr-0 justify-content-center" style="margin-top:5rem;">
            <div class="w-100 bg-transparent" style="border-radius: 20px 20px 0 0; border: 1px solid #b3b3b3 ">
                <div class="row ml-0 mr-0 justify-content-center mt-2 mb-2">
                    <div class="col-3 d-flex justify-content-center">
                        <span class="font-weight-bold font-size18">
                            PC-COMPONENTS
                        </span>

                    </div>
                    <div class="col-3 d-flex justify-content-center">
                        <span class="font-weight-bold font-size18">
                            POMOCNE LINKI
                        </span>                  
                    </div>
                    <div class="col-3 d-flex justify-content-center">
                        <span class="font-weight-bold font-size18">
                            ZAKUPY
                        </span>                      
                    </div>
                </div>
                <div class="row ml-0 mr-0 justify-content-center">
                    <div class="col-3 ">
                        <div class="row ml-5 mt-1 mb-1 cursor-pointer">
                            <span>
                                O nas
                            </span>
                        </div>
                        <div class="row ml-5 mt-1 mb-1 cursor-pointer">
                            <span>
                                Dane firmy i numer konta
                            </span>
                        </div>
                        <div class="row ml-5 mt-1 mb-1 cursor-pointer">
                            <span>
                                Newsletter
                            </span>
                        </div>
                        <div class="row ml-5 mt-1 mb-1 cursor-pointer">
                            <span>
                                Nagrody i certyfikaty
                            </span>
                        </div>
                        <div class="row ml-5 mt-1 mb-1 cursor-pointer">
                            <span>
                                Kariera
                            </span>
                        </div>
                        <div class="row ml-5 mt-1 mb-1 cursor-pointer">
                            <span>
                                Dla prasy
                            </span>
                        </div>
                        <div class="row ml-5 mt-1 mb-1 cursor-pointer">
                            <span>
                                Polityka prywatności
                            </span>
                        </div>
                        <div class="row ml-5 mt-1 mb-1 cursor-pointer">
                            <span>
                                Regulamin sklepu
                            </span>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="row ml-5 mt-1 mb-1 cursor-pointer">
                            <span>
                                Kontakt
                            </span>
                        </div>
                        <div class="row ml-5 mt-1 mb-1 cursor-pointer">
                            <span>
                                Reklamacje i zwroty
                            </span>
                        </div>
                        <div class="row ml-5 mt-1 mb-1 cursor-pointer">
                            <span>
                                Sposoby dostawy i płatności
                            </span>
                        </div>
                        <div class="row ml-5 mt-1 mb-1 cursor-pointer">
                            <span>
                                Częste pytania
                            </span>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="row ml-5 mt-1 mb-1 cursor-pointer">
                            <span>
                                Sprawdź status zamówienia
                            </span>
                        </div>
                        <div class="row ml-5 mt-1 mb-1 cursor-pointer">
                            <span>
                                Raty
                            </span>
                        </div>
                        <div class="row ml-5 mt-1 mb-1 cursor-pointer">
                            <span>
                                Leasing
                            </span>
                        </div>
                        <div class="row ml-5 mt-1 mb-1 cursor-pointer">
                            <span>
                                Karta Podarunkowa
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {

}
