.button[b-4pok49mtgj] {
    border: 1px solid lightgrey;
    border-radius: 50%;
    width: 30px; 
    height: 30px;
    outline:none;

}
.input-number[b-4pok49mtgj] {
    -webkit-appearance: none;
    -moz-appearance: textfield;
}
.select-number[b-4pok49mtgj] {
    -webkit-appearance: none;
    border-radius: 5px;
    outline: none;
    width: 45px;
    height: 35px;
}